<div class="toast-container">
  @for (toast of notifications(); track toast.id) {
    <div 
      class="toast" 
      [class]="'toast-' + toast.type"
      @toastIn
      (click)="remove(toast.id)"
    >
      <div class="toast-icon">
        <span class="material-symbols-outlined">{{ getIcon(toast.type) }}</span>
      </div>
      <div class="toast-content">
        <p class="toast-message">{{ toast.message }}</p>
      </div>
      <div class="toast-close">
        <span class="material-symbols-outlined">close</span>
      </div>
    </div>
  }
</div>
